*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f4fb;
}

a {
    text-decoration: none;
    color: #333;
    outline: none;
}

.container {
    position: relative;
    width: 912px;
    min-height: 200px;
    height: auto;
    margin-top: 20px;
}

.module {
    position: relative;
    margin-bottom: 15px;
    width: 100%;
    min-height: 10px;
    height: auto;
    padding: 20px 15px;
    background-color: white;
    font-size: 14px;
    border-radius: 3px;
    box-shadow: 0px 0px 20px rgb(238 242 245 / 80%);
}

.title {
    line-height: 30px;
    text-align: left;
    font-weight: 600;
    margin-top: -5px;
    color: #666;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.title-icon {
    height: 20px;
    margin-right: 5px;
}

.content {
    padding-top: 20px;
    min-height: 100px;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    padding: 10px;
    background-color: #f5f7fd;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    min-height: 42px;
    border-radius: 3px;
}

.card:hover {
    cursor: pointer;
    background-color: #dce3f8;
}

.card-icon {
    position: relative;
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 999px;
}

.card-title {
    text-align: left;
    width: 180px;
    font-weight: 400;
    text-indent: 5px;
}

.card-desc {
    font-size: 11px;
    color: #7c7a7a;
    text-indent: 0px;
    margin-top: 5px;
}